SynthAIsis.json
{
  "name": "SynthAIsis",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1zeaUfViY37RuIk9xosHB9GJxPhXORKJ4",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "edd6143f-9982-47e7-bf04-fdad14231905",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rUiJ6atKiwETrO7Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "04a09c42-0821-406a-994e-dc63ef7f536a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rUiJ6atKiwETrO7Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "amandamelo0709@gmail.com",
        "subject": "=Resumo: {{ $('Google Drive Trigger').item.json.name }}",
        "emailType": "text",
        "message": "=Hello! A summary is ready for {{ $('Google Drive Trigger').item.json.name }}\n\nView the full summary here: https://docs.google.com/document/d/{{ $('Create a document').item.json.id }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        0
      ],
      "id": "c9b155e1-5dec-452b-9c84-7936e631cd41",
      "name": "Send a message",
      "webhookId": "f1ee23a4-bdda-46d3-9523-95ffe3ada5b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "R4onvmafZC85rYnt",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "7868f9a9-9d19-44a3-a2ec-8dc21629aa97",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "folderId": "1zeaUfViY37RuIk9xosHB9GJxPhXORKJ4",
        "title": "={{ $('Google Drive Trigger').item.json.name }} — Summary"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "55398ffb-a9bd-4901-a557-3b793e9f3bac",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3lRXZ4j8nwtGJ2mk",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create a document').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "=1zeaUfViY37RuIk9xosHB9GJxPhXORKJ4?hl",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "1Fgbxa2diMspUdnM157HGQwgYghpnpEmK",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1248,
        0
      ],
      "id": "8a138e2f-d6ad-401b-a0c2-a4633436d4cc",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rUiJ6atKiwETrO7Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Create a document').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('HTTP Request').item.json.content[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "5763e5ff-4c55-49ce-8d65-64efa3a833a0",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3lRXZ4j8nwtGJ2mk",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ATHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"claude-opus-4-6\", \"max_tokens\": 1024, \"messages\": [{ \"role\": \"user\", \"content\": \"You are a legal assistant. First identify the type of legal document, then provide a structured summary with section titles appropriate for that specific document type. Use plain text only — no markdown, no asterisks, no hashtags. Section titles in CAPS, followed by the content on the next line. Keep the summary under 400 words.\\n\\nDocument:\\n\" + $json.text }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "d4320141-275d-491f-83fc-4134c2bf9520",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "COPDbiUbjNcB8zbA",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8bfc5934-80cf-4d63-a008-a1294c264059",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2c4b5761364d6f3df2564f6e31e736439e431933373dcb4605662eb7e8fe479"
  },
  "nodeGroups": [],
  "id": "idd2DKkEYPOz3ml4",
  "tags": []
}